<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.less.dao.mapper.UserMapper">


    <select id="queryAllUsers" resultType="User">
        select * from user
    </select>

    <insert id="saveUser" parameterType="User">
        <selectKey>
            select
        </selectKey>

        insert into user(id, name, id_card, phone, password) values(#{id}, #{name}, #{idCard}, #{phone}, #{password})

    </insert>

</mapper>